* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

.container {
    margin: 0 auto;
    width: 1348px;
}

.slider {
    background-image: url(../img/slider.jpg);
    min-height: 800px;
    padding: 63px 98px 19px 98px;
    /*!!!!*/
    box-sizing: border-box;
    /*!!!!!*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 122px;
}

.slider-menu {
    width: 547px;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 4px 0 0 0;
}

.slider-menu-list {
    list-style-type: none;

}

.slider-menu-link {
    text-decoration: none;
    font-weight: 300;
    color: #8c8c8c;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.slider-menu-list:last-child {
    margin-top: -4px;
}

.slider-menu-list:first-child {
    border-bottom: 3px solid #212121;
    padding: 0 13px 10px 13px;

}

.slider-menu-list:first-child a {
    font-weight: 700;
    color: #212121;

}

.slider-menu-link:hover {
    font-weight: 700;
}

.slider-menu-link:active {
    color: black;
}

.slider-trending {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #43a047;
    display: block;
    margin-bottom: 22px;
}

.slider-title {
    font-size: 62px;
    font-weight: 100;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: -3px;
    margin: 0 0 34px 0;
}

.slider-text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    width: 458px;
    margin-bottom: 32px;
}

.slider-button {
    border: none;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
    border-radius: 22.5px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    padding: 16px 31px 16px 31px;
}

.slider-button:hover {
    background-color: black;

}

.slider-button:active {
    background-color: black;
    border: none;
    outline: none;
}

.slider-button:focus {
    border: none;
    outline: none;
}

.slider-arrow {
    margin-left: 22px;
}

.pagination {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
}

.pagination-item:nth-child(2) {
    background-color: black;
    width: 40px;
    height: 40px;
}

.pagination-item {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #c6c6c6;
    border-radius: 50%;
}

.pagination-item:hover {
    background-color: blanchedalmond;
}

.pagination-item:active {
    background-color: red;
}

.featured-product {
    min-height: 609px;
    padding: 120px 98px 120px 98px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tab-controll {
    display: flex;
    justify-content: space-between;
}

.tab-content {
    height: 270px;
}

.tab-controll a {
    text-decoration: none;
}

.feature_link {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
    border-bottom: 3px solid #212121;
    padding: 0 13px 10px 13px;
}

.new_link {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #6c6c6c;
    border-bottom: 1.5px solid #6c6c6c;
    padding: 0 32px 11px 34px;
}

.explore_all_link {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    margin-top: 16px;
}

.tab-content {
    display: flex;
    justify-content: space-between;
}

.product_active {
    width: 270px;
    height: 270px;
    background-image: url(../img/product_1_active.jpg);
    position: relative;
}

.background-product {
    width: 270px;
    height: 270px;
    opacity: 0.9;
    background-color: #ffffff;
    border: 1px solid #9c9c9c;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_active_button {
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
    border-radius: 50%;
    margin-top: 62px;
    margin-bottom: 19px;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_active_title {
    display: block;
    font-size: 22px;
    line-height: 29px;
    font-weight: 700;
    color: #212121;
    margin-bottom: 23px;
}

.product_active_text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #6c6c6c;
    text-align: center;
    width: 211px;
}

.product_active_button img {
    width: 20px;
    height: 20px;
}

.promo-product {
    min-height: 683px;
    /*!!!!*/
    box-sizing: border-box;
    /*!!!!!*/
    display: flex;
    justify-content: space-between;

}

.promo-content-1 {
    background-image: url(../img/promo_product_1.jpg);
    padding: 228px 0 0 50px;
    width: 683px;
}

.promo-1-exclusive {
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #1e88e5;
    margin-bottom: 18px;
}

.promo-1-title {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
    margin-bottom: 24px;
    display: block;
}

.promo-1-text {
    font-size: 14.1px;
    line-height: 24px;
    font-weight: 374;
    color: #6c6c6c;
    width: 385px;
    margin-bottom: 34px;
}

.promo-1-button {
    border: none;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
    border-radius: 22.5px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    padding: 16px 31px 16px 31px;
}

.promo-1-button:hover {
    background-color: black;

}

.promo-1-button:active {
    background-color: black;
    border: none;
    outline: none;
}

.promo-1-button:focus {
    border: none;
    outline: none;
}

.promo-1-arrow {
    margin-left: 22px;
}

.promo-content-2 {
    background-image: url(../img/promo_product_2.jpg);
    padding: 228px 259px 256px 50px;
}

.promo-2-exclusive {
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #1e88e5;
    margin-bottom: 18px;
}

.promo-2-title {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
    margin-bottom: 24px;
}

.promo-2-text {
    font-size: 14.1px;
    line-height: 24px;
    font-weight: 374;
    color: #6c6c6c;
    width: 374px;
    margin-bottom: 34px;
}

.promo-2-button {
    border: none;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.34);
    border-radius: 22.5px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    padding: 16px 31px 16px 31px;
}

.promo-2-button:hover {
    background-color: black;


}

.promo-2-button:active {
    background-color: black;
    border: none;
    outline: none;
}

.promo-2-button:focus {
    border: none;
    outline: none;
}

.promo-2-arrow {
    margin-left: 22px;
}

.trending_products {
    min-height: 988px;
    /*!!!!*/
    box-sizing: border-box;
    /*!!!!!*/
    display: flex;
    flex-direction: column;
    padding: 120px 98px 120px 98px;
}

.trending_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.item_1,
.item_2,
.item_3 {
    margin-bottom: 30px;
}

.trending-title {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
}

.trending-explore_all {
    padding-top: 16px;
}

.trending-explore_all_link {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #212121;
    text-decoration: none;
}

.trending_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item_1,
.item_2,
.item_3,
.item_4,
.item_5,
.item_6 {
    width: 370px;
}

.hot-deal {
    background-image: url(../img/hot_deal_back.jpg);
    margin-bottom: 120px;
}

.content-hot-deal {
    margin-top: 287px;
}

.trending-hot-deal {
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #e53935;
}

.other-products {
    display: flex;
    padding-left: 98px;
    margin-bottom: 120px;
}

.exclusive {
    min-width: 570px;
    padding-left: 30px;
    padding-top: 186px;
    background-image: url(../img/exclusive.jpg);
    margin-right: 30px;
}

.exclusive-trending {
    display: block;
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #1e88e5;
    margin-bottom: 18px;
}

.exclusive-title {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
    margin-bottom: 34px;
}

.exclusive-text {
    font-size: 14.1px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    width: 384px;
    margin-bottom: 34px;
}

.products {
    min-width: 570px;
    display: flex;
    flex-wrap: wrap;

}

.products img {
    width: 270px;
}

.ex-product-1,
.ex-product-2 {
    margin-bottom: 30px;
}

.ex-product-1,
.ex-product-3 {
    margin-right: 30px;
}

.mobile-app {
    background-image: url(../img/app_image_back.jpg);
    background-repeat: no-repeat;
    padding-left: 99px;
    padding-top: 125px;
    height: 390px;
}

.app-tag {
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
}

.app-name {
    width: 472px;
    font-size: 62px;
    line-height: 72px;
    font-weight: 100;
    text-transform: uppercase;
    color: #212121;
}

.app-datails {
    margin-top: 36px;
    margin-bottom: 33px;
    font-size: 22px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
}

.app-store-button {
    margin-right: 10px;
}

.app-store-button,
.google-button {
    border: none;
}

.google,
.app-store {
    width: 135px;
    height: 40px;
}

.footer {
    height: 290px;
    background-color: #f7f7f7;
    padding-top: 120px;
    padding-left: 97px;
    display: flex;
    flex-direction: column;
}

.footer-1 {
    display: flex;
}

.contact-us {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.contact-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
    margin-bottom: 24px;
}

.contact-1 {
    width: 221px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #212121;
}

.useful-info {
    margin-right: 78px;
}

.useful-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
    margin-bottom: 24px;
}

.links {
    display: flex;
}

.link-1 {
    margin-right: 103px;
}

.link-1,
.link-2 {
    display: flex;
    flex-direction: column;
}

.link-2 a,
.link-1 a {
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #212121;
}

.touch-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
    margin-bottom: 24px;
}

.touch-content {
    display: block;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #212121;
    width: 372px;
    margin-bottom: 26px;
}

.touch-input {
    width: 370px;
    height: 20px;
    background-color: #ffffff;
    border: 1px solid #d9dee1;
    padding-left: 19px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #6c6c6c;
}

.info {
    display: flex;
    margin-top: 69px;
    align-items: center;
}

.info-copyright {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #6c6c6c;
}

.info-social-links {
    font-family: icomoon;
    font-size: 28px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #6c6c6c;
    margin-left: 158px;
    margin-right: 172px;
}

.info-other {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #6c6c6c;
}